.footer-main{
    background-image: url('../../assets/footer-bg.webp');
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 2rem;
    isolation: isolate;

}
.footer-main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #0c023e;
    opacity: 0.6;
    z-index: -1;
}