*{
    padding: 0;
    margin: 0;
}
.footer-list li {
	list-style-type: none;
	margin-top: 1rem;
}
.footer-link{
    /* list-style-type: none; */
    color: white;   
    text-decoration: none;
}
.top-footer{
    display: flex ;
    color: white;   
    font-weight: 1000;
    border-bottom: 1px solid rgb(158, 158, 155);
    

}

.footer-list-section{
    width: 70%;
}

.footer-list-section{
    display: flex;
    
}
.newsLetterBar{
    color: black;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    
}
.input button{
    background-color: rgb(221, 18, 94);
    color: white;
    padding: 0.7rem 1rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
}
.footer-newsletter-section .footer-text{
    margin-top: 1rem;
}


@media screen and (max-width: 1060px){
    .top-footer{
        display: flex ;
        color: white;   
        font-weight: 1000;
        border-bottom: 1px solid rgb(158, 158, 155);
        flex-direction: column;
    
    }
}
@media screen and (max-width: 768px){
    .footer-list-section{
        display: grid ;
        grid-template-columns: 1fr 1fr;
      /* place-content: center; */
      /* place-items: center; */
        /* justify-content: center; */
    }
}

